@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-content {
    display: flex;
    flex-direction: row wrap;
    width: 100vw;
    min-height: 100vh;
}

.left-column {
    background-image: url(./space-g1e38f8dc5_1920.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 40vw;
}

.logo-bar {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100px;
    background-color: rgba(34, 34, 34, 0.5);
    top: 20vh;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.logo-bar:hover {
    scale: 1.1;
    transition: 0.5s;
}

.right-column {
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    width: 60vw;
} 

.para {
    display: flex;
    min-width: 40vh;
    flex-flow: column;
    line-height: 200%;
    padding-bottom: 40px;
    padding-top: 80px;
    padding-right: 120px;
    padding-left: 45px;

}

.right-column p, .form-header p {
    color: rgb(236, 236, 236);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

img {
    height: 4rem;
}



.name {
    font-family: 'Audiowide', cursive;
    color: white;
    font-size: 3vw;

}


.form-header {
    background-color: rgb(12, 12, 12);
    min-width: 60vh;
    box-shadow: 6px 5px 25px rgba(212, 212, 216, 0.198);

}


form {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    gap: 20px;
    padding-left: 50px;
    padding-top:10px;
    padding-bottom: 40px;
}

.first-row, 
.second-row,
.third-row {
    display: flex;
    flex-direction: row nowrap;
    color: rgb(181, 181, 181);
    gap: 30px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.first-name, .last-name,
.email, .phone-number,
.password, .confirm-password {
    display: flex;
    flex-flow: column;
    gap: 5px;
}


form input[type='text'],
form input[type='email'],
form input[type='password'] {
    background-color: rgb(12, 12, 12);
    border: 0.2px solid rgb(77,77,77);
    border-radius: 0.2rem;
    width: 20vw;
    min-width: 10px;
    height: 20px;
    color: white;
    padding-left: 5px;
    padding-right: 5px; 
}

form input[type='text']:focus,
form input[type='email']:focus,
form input[type='password']:focus {
    border: 0.2px solid #e6007e;
    outline: none;
}


.cta {
    margin-top: 10px;
    background-color:black;
    display: flex;
    flex-flow: column;
    padding: 50px;
    gap: 15px;
}


button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid #e6007e;
    background-color: black;
    color: #e6007e;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

button:hover {
    background-color :#e6007e;
    color: black;
    cursor: pointer;
    scale: 1.1;
    transition: 0.2s;
}

span {
    color:#e6007e;
    font-weight: bold;
}

span:hover {
    cursor: pointer;
    color: white;
}